.footer {
    width: 100%;
    max-width: 1024px;
    font-size: 1rem;
}

.fLists {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}

.fList {
    list-style: none;
}

.fListItem {
    color: var(--color-bg);
    margin-bottom: 10px;
    cursor: pointer;
}

.fText {
    color: var(--color-bg);
}